services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  phoenix:
    image: arizephoenix/phoenix:latest
    ports:
      - "6006:6006" # Dashboard UI
      - "4317:4317" # OTLP Collector